@charset "UTF-8";/* 공통 스타일 */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.main_room {
    display: flex;
    width: 900px;
    height: 650px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.main_room:hover {
    transform: scale(1.02);
}

/* 사이드바 스타일 */
.left_sidebar {
    width: 250px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.left_sidebar h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 40px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.left_sidebar button a {
    text-decoration: none;
    color: inherit; /* 버튼의 텍스트 색상을 링크에도 적용 */
}

.left_sidebar .back_button {
    margin-top: auto;
    margin-bottom: 20px;
}

.left_sidebar button {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.left_sidebar button:hover {
    background-color: #ffffff;
    color: #6a11cb;
    transform: translateY(-3px);
}

/* 메인 컨텐츠 영역 스타일 */
.content-area {
    flex: 1;
    padding: 60px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.content-area h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.content-area label {
    font-size: 16px;
    font-weight: bold;
    color: #666;
    margin-top: 15px;
}

.content-area input[type="text"], 
.content-area input[type="password"], 
.content-area input[type="number"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.content-area input:focus {
    border-color: #6a11cb;
    outline: none;
}

button[type="submit"] { /*컨텐츠 방만들기 버튼 */
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background: #6a11cb;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
    background-color: #2575fc;
    transform: translateY(-3px);
}
